html{
    background: #03001e;
}
#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    border-style: solid;
    border-radius: 50%;
    border-color: darkorchid;

}
#aim {
    position: absolute;
    width: 30px;
    height: 30px;
    top:47%;
    left:47%;
    background: grey;
    background-size: 100%;
    border-style: solid;
    border-radius: 50%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: grey;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.5%;
    height: 25%;
    top:24%;
    left: 48.85%;
    opacity: 1;
}

#minute {
    width: 1.2%;
    height: 32%;
    top:17%;
    left: 48.9%;
    opacity: 1;
}

#second {
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 1;
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
